.navbar {
  background-color: #073642;
  padding: 5px;
  font-weight: 500;
  font-size: large;
}

.navbar a:hover{
  background-color: #3B7E8F;
  border-radius: 12px;
}

.nav-item {
  border-radius: 12px;
}

.active {
  background-color: #26515C;
}

.navbar-brand {
  font-size: xx-large;
}

.navbar-toggler {
  border-color: rgba(255,255,255,.1);
}

.navbar-toggler-icon{
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.spacer, .text-muted{
  text-align: center;
  margin-top: 100px;
}

.img.img1{
  margin-left: auto;
  margin-right: auto;
}

.box {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 0 10px 0 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding-top: 200px;
}

.column{
  float: left;
  width: 25%;
  padding-top: 100px;
  text-align: center;
}

.col-md-9{
  padding: 100px;
}

.container{
  margin-top: 100px;
  max-width: 100%;
  text-align: center;
}

/* Action Button*/
.actionbtn{
  justify-content: center;
  background-color: #1495B5;
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #26515C;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}

/* Button on hover & focus */
.dropbtn:hover, .dropbtn:focus, .actionbtn:hover, .actionbtn:focus {background-color: #3B7E8F;}

/* The container <div> - needed to position the dropdown content */
.dropdown {position: relative;display: inline-block;}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {display: none;position: relative;background-color: #1495B5;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;border-radius: 12px;}

/* Links inside the dropdown */
.dropdown-content a {color: black;padding: 12px 16px;text-decoration: none;display: block;}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}