<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="How to use page for the PC Building Advisor application.">
    <meta name="author" content="Marcel Willis">
    <!-- Site theme -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
    <link rel="icon" href="/images/pc_stock_photo0.jpg">
    <!-- Site font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ce0b201871.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--Background Image-->
    <div role="img1" aria-label="PC Components">
        <img src="/images/pc_components.jpg" alt="PC Components" class="img1">
    </div>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg fixed-top" role="navigation">
        <a class="navbar-brand" href="/">PC Building Advisor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fa fa-fw fa-home"></i>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/howtouse"><i class="fas fa-laptop-code"></i>How To Use<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactus"><i class="far fa-address-card"></i>Contact Us<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Webpage Container -->
    <div class="container2">
        <h1>How To Use</h1>
        <ol>
            <li>Start from the home page.</li>
            <li>Select your motherboard from the Mobos dropdown.</li>
            <img src="/images/Step2.png" alt="Step2" class="img1" style="border: solid; border-color: darkgray;">
            <li>Select your central processing unit from the CPUs dropdown.</li>
            <img src="/images/Step3.png" alt="Step3" class="img1">
            <li>Select your graphical processing unit from the GPUs dropdown.</li>
            <img src="/images/Step4.png" alt="Step4" class="img1">
            <li>Select your power supply from the PSUs dropdown.</li>
            <img src="/images/Step5.png" alt="Step5" class="img1">
            <li>Click the analyze button.</li>
            <img src="/images/Step6.png" alt="Step6" class="img1">
            <li>View your analysis results in the window below.</li>
            <img src="/images/Step7.png" alt="Step7" class="img1">
        </ol>
    </div>
    <div class="spacer">
        <a href="#Top">Back to Top</a>
    </div>
    <!-- Footer -->
    <div id="footer">
        <div class="container">
            <p class="text-muted">Copyright Marcel Willis</p>
        </div>
    </div>
</body>
</html>