.navbar {
  background-color: #073642;
  padding: 5px;
  font-weight: 500;
  font-size: large;
}

.navbar a:hover{
  background-color: #3B7E8F;
  border-radius: 12px;
}

.nav-item {
  border-radius: 12px;
}

.active {
  background-color: #26515C;
}

.navbar-brand {
  font-size: xx-large;
}

.navbar-toggler {
  border-color: rgba(114, 114, 114, 0.1);
}

.navbar-toggler-icon{
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.spacer, .text-muted{
  text-align: center;
  margin-top: 100px;
}

.img.img1{
  margin-left: auto;
  margin-right: auto;
}

.img2{
  border: solid; 
  border-color: darkgray;
  margin-left: auto;
  margin-right: auto;
}

label {
  padding-top: 50px;
}

.box, input, textarea {
  background-color: rgba(255, 255, 255, 0.267);
  height: auto;
  width: 50%;
  display: inline-block;
  margin: 0 10px 0 10px;
  border-radius: 12px;
  resize: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding-top: 200px;
}

.column{
  float: left;
  width: 25%;
  padding-top: 100px;
  text-align: center;
}

.col-md-9{
  padding: 100px;
}

.container{
  margin-top: 100px;
  max-width: 100%;
  text-align: center;
}

.container2{
  margin-top: 100px;
  max-width: 100%;
  text-align: left;
}

/* Action Button*/
.actionbtn{
  justify-content: center;
  background-color: #1495B5;
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}

/* Dropdown Button */
.custom-select {
  background-color: #26515C;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  position: relative;
  width: fit-content;
  height: fit-content;
  text-align: center;
}

.select-selected {
  background-color: #26515C;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Hide original select box*/
select {
  appearance: none;
  background-color: transparent; 
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

/* Button on hover & focus */
.actionbtn:hover, .actionbtn:focus, .custom-select:focus, .custom-select:hover {background-color: #3B7E8F;}

/* Links inside the dropdown */
.custom-select option {color: black;padding: 12px 16px;text-decoration: none;display: block;}

/* Change color of dropdown links on hover */
.custom-select option:hover {background-color: #ddd}